.button {
  display: inline-block;
  padding: 10px 16px;
  @include font(13px, 1.23, 500);
  text-decoration: none;
  color: #000000;
  background-color: $grey-2;
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

.button:hover {
  color: inherit;
  background-color: $grey-4;
}

.button:active {
  color: inherit;
  background-color: $grey-5;
}

.button--blue {
  color: #FFFFFF;
  background-color: $blue-2;
}

.button--blue:hover {
  color: #FFFFFF;
  background-color: $blue-3;
}

.button--blue:active {
  color: #FFFFFF;
  background-color: $blue-4;
}

.button:disabled,
.button--disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: $grey-3;
}
