.date {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  min-height: 55px;
  padding: 11px 16px 12px;
}

.date__active-date {
  @include font(15px, 1.2, 500);
}
