.header {
  display: flex;
  justify-content: space-between;
  min-width: 360px;
  padding: 16px 21px 11px;
  border-bottom: 1px solid $grey-2;
}

.header__button {
  width: 1px;
  height: 1px;
  opacity: 0;
}

@media (min-width: $large-screen) {

  .header {
    padding: 25px 25px 22px;
  }

  .header__button {
    width: auto;
    height: auto;
    opacity: 1;
  }

}
