.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 360px;
  width: 100%;
  min-height: 48px;
  padding: 16px 21px 11px;
  background-color: #FFFFFF;
  border-bottom: 1px solid $grey-2;
}

.header__button {
  padding: 4px 8px;
  font-size: 10px;

  &:not(:focus) {
    transform: scale(0);

    @media (min-width: $large-screen) {
      transform: none;
    }
  }

  @media (min-width: $large-screen) {
    padding: 13px 24px;
    font-size: 15px;
    transform: none;
  }
}
