.page {
  padding-top: 49px;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }

  &__main {
    padding-top: 55px;
  }

  &__date {
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: #FFFFFF;
  }
}

@media (min-width: $large-screen) {}
