.time {
  display: flex;
  width: 1217px;
  margin: 0;
  padding: 9px 0 10px 182px;
  @include font(11px, 1.18, 700);
  text-align: center;
  color: #252525;
  letter-spacing: 0.4px;
  border-bottom: 1px solid $grey-2;
  list-style: none;
}

.time__hour {
  width: 66px;
}

.time__hour--disabled {
  color: $grey-7;
}
