.user {
  display: flex;
  align-items: center;
  @include font(15px, 1.13, 400);
  color: #000000;

  &__avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50%;
  }
}
